.page {
  padding: 15px;
  >.panel {
    margin-bottom: 10px;
  }
  >.grid {
    display: flex;
    flex-direction: column;
    >.row {
      display: flex;
      flex-direction: row;
      >.cell {
        $cell-size: 10px;
        width: $cell-size;
        height: $cell-size;
      }
    }
  }
}
