<div class="page">
  <div class="panel">
    <button
      mat-flat-button
      (click)="start()"
      color="primary"
      [disabled]="game.isPlaying"
    >Start</button>
    <button
      mat-flat-button
      (click)="pause()"
      color="primary"
      [disabled]="!game.isPlaying"
    >Pause</button>
  </div>
  <div class="matrix">
    <div class="row" *ngFor="let row of game.colorMatrix">
      <div
        class="cell"
        *ngFor="let cell of row"
      >
        <div class="color light" [style.opacity]="cell.opacity"></div>
        <div class="color hex" [style.background]="cell.hex"></div>
      </div>
    </div>
  </div>
</div>
