.page {
  padding: 15px;
  >.panel {
    margin-bottom: 10px;
    button {
      margin-right: 10px;
    }
  }
  >.matrix {
    display: flex;
    flex-direction: column;
    >.row {
      display: flex;
      flex-direction: row;
      >.cell {
        $cell-size: 10px;
        position: relative;
        >.color {
          width: $cell-size;
          height: $cell-size;
        }
        >.light {
          position: absolute;
          top: 0;
          left: 0;
          background: #ffd300;
        }
      }
    }
  }
}
